image_name_prefix = "devops-base"
ssh_username      = "ubuntu"

aws_region        = "us-east-1"
aws_instance_type = "t3.medium"

azure_subscription_id          = "00000000-0000-0000-0000-000000000000"
azure_tenant_id                = "00000000-0000-0000-0000-000000000000"
azure_client_id                = "00000000-0000-0000-0000-000000000000"
azure_client_secret            = "replace-me"
azure_location                 = "Australia East"
azure_resource_group_name      = "packer-images-rg"
azure_vm_size                  = "Standard_B2ms"

gcp_project_id    = "replace-me"
gcp_zone          = "us-central1-a"
gcp_machine_type  = "e2-medium"
